<div class="border">
  <div class="text-lg bg-gray-300 p-3">
    <%= board.title %>
  </div>
  <div class="p-3">
    <%= simple_format(board.body) %>
  </div>
  <div class="p-3 text-end">
    <%= board.name %>
  </div>
</div>





