<div class="flex justify-between mb-5">
  <h1 class="text-base font-bold">
    <%= @board.title %>
  </h1>
  <div>
    <a href="/boards" class="text-blue-500 hover:text-blue-800">
      一覧
    </a>
    <a href="/boards/edit/<%= @board.id %>" class="text-blue-500 hover:text-blue-800">
      編集
    </a>
  </div>
</div>

<% if flash[:notice] %>
  <div class="bg-blue-100 border border-blue-500 text-blue-700 px-4 py-3 rounded mb-5">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= render partial: 'board', object: @board %>

<!--同じ意味-->
<%#= render @board %>



