<h1>BoardUsers#me</h1>
<p>Find me in app/views/board_users/me.html.erb</p>

<form action="/login" method="post">
  <div>
    <label for="name">名前</label>
    <input id="name" name='name' class="w-full p-1 border">
  </div>
  <div class="form-group">
    <label for="password">パスワード</label>
    <input type=password id="password" name='password' class="w-full p-1 border">
  </div>

  <button type="submit" class="text-white bg-blue-600 p-2">保存</button>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>

<% if @current_user %>
ログイン中
<% else %>
ログアウト中
<% end %>