<h1>ユーザー登録</h1>

<%= render partial: 'boards/error' %>

<form action="/board_users/create" method="post">
  <div>
    <label for="name">名前</label>
    <input id="name" name='name' class="w-full p-1 border">
  </div>
  <div class="form-group">
    <label for="password">パスワード</label>
    <input type=password id="password" name='password' class="w-full p-1 border">
  </div>
  <div class="form-group">
    <label for="password_confirmation">パスワード</label>
    <input type=password id="password_confirmation" name='password_confirmation' class="w-full p-1 border">
  </div>

  <button type="submit" class="text-white bg-blue-600 p-2">保存</button>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>